@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section class="section-products">
    <div class="container">
        <div class="row">
          @foreach(var course in Model.AllCourses){
                <!-- Single Product -->
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div id="product-4" class="single-product">
                        <div class="part-1" style="background:url('@course.ImageUrl')">
                            <span class="new">new</span>
                            <ul>
                                <li><a asp-page="CourseDetail" asp-route-Id="@course.Id"><i class="fas fa-expand"></i></a></li>
                            </ul>
                        </div>
                        <div class="part-2">
                            <h3 class="product-title">@course.Name</h3>
                            <h4 class="product-price">$@course.Price</h4>
                        </div>
                    </div>
                </div>
          }

        </div>
    </div>
</section>
